.carousal{
    padding-block: 6rem;
    overflow: hidden;
    /* padding-block-end: 3rem;  */
}

.track {
    width: min(90%, 1170px);
    margin-inline: auto;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    padding-block-end: 2rem; 
    transition: transform 0.8s ease-in-out;
    transform: translateY(50%);
}

.slide {
    --numOfItemsDisplayed: 3;
    box-sizing: border-box;
    flex-shrink: 0;
    width: calc(100%/var(--numOfItemsDisplayed));
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
}

.track_CarousalMain {
    padding-block-end: 1rem;
}

@media (max-width: 1000px) {
    .slide {
        --numOfItemsDisplayed : 2
    }
}

@media (max-width: 600px) {
    .slide {
        --numOfItemsDisplayed : 1
    }
}