.carousal{
    padding-block: 6rem;
    /* padding-block-end: 3rem;  */
}

.track {
    width: min(90%, 1170px);
    margin-inline: auto;
    display: flex;
    overflow-x: hidden;
    --numOfItemsDisplayed: 3;
    padding-block-end: 2rem; 
}

.slide {
    box-sizing: border-box;
    flex-shrink: 0;
    width: calc(100%/var(--numOfItemsDisplayed));
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
}