.skills_section {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.skills_section-left{
    box-sizing: border-box;
    flex-basis: 50%;
    padding: 6%;
}

.skills_section-left > h3, h2 {
    margin: 0;
}

.skills_section-left > h3 {
    width: max-content;
    color: rgb(250, 174, 52);
    border-block-end: 1px solid rgb(250, 174, 52);
    font: 14px Montserrat, sans-serif ;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-block-end: 15px;
    line-height: 23px;
    box-sizing: border-box;
}

.skills_section-left > h2 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family: Montserrat, sans-serif;
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-block-end: 20px;
}

.skills_section-right {
    padding-inline: 15px;
    box-sizing: border-box;
    padding-inline-end: 6rem;
    flex-basis: 50%;
    height: max-content;
    margin-block: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}