@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: black;
  background-color: rgba(255,255,255,.99);


}

p, h1, h2, h3 {
  margin: 0;
}